body{
    background-image: url("./image/fondo.jpg");
    background-repeat:no-repeat;
}

img{
    height: 200px;
    width: 200px;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center
}


